# MongoDB Configuration
MONGO_URI=mongodb://admin:password123@mongodb:27017/ecommerce?authSource=admin

# MONGO_URI=mongodb://localhost:27017/ecommerce

# Service Ports
PRODUCT_PORT=4002
ORDER_PORT=4000
CART_PORT=4001
USER_PORT=4003

# Environment
NODE_ENV=production

SHOP_MONGO_URI=mongodb+srv://your-username:your-password@cluster0.xvh06.mongodb.net/Shops
PRODUCT_MONGO_URI=mongodb+srv://your-username:your-password@cluster0.xvh06.mongodb.net/Products
USER_MONGO_URI=mongodb+srv://your-username:your-password@cluster0.xvh06.mongodb.net/Users
ORDER_MONGO_URI=mongodb+srv://your-username:your-password@cluster0.xvh06.mongodb.net/Orders
